{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}Hotel Booking{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/pulse/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/static/owl.carousel.min.css">
		<link rel="stylesheet" type="text/css" href="/static/owl.theme.default.min.css">
		<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
		<link rel="stylesheet" type="text/css" href="/static/base.css">
		<script
		src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous"></script>	
	</head>
	<body>
		<nav class="navbar navbar-expand-sm navbar-dark">
			<a href="/" class="navbar-brand mx-auto">revive</a>
		</nav>
		<br><br><br>
		{% block body %}
		{% endblock %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="{% static 'cookie.js' %}"></script>	
		<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
		<script>
		AOS.init();
		</script>
	</body>
</html>