{% extends 'base.html' %}
{% load static %}
{% block title %}Hotel List{% endblock %}
{% block body %}
<br>
<div class="container search_bar" data-aos="fade-right" data-aos-duration="1500">
	<div class="row">
		<div class="col-md-8" id="hotel_list">
		 
		</div>
		<div class="col-md-3">
			<input type="text" class="form-control mr-sm-2" name="city" placeholder="Search your city here..." required style="border-radius: 5px;"><br>
			<button class="submit btn btn-primary"style="border-radius: 5px;">Search</button>
		</div>
	</div>
</div>
<br>
<script src="{% static 'hotel.js' %}"></script>
{% endblock %}